<div class="container">
  <div class="d-flex justify-content-end mx-4">
    <%= link_to ("<i class='fas fa-users'></i> Add new team").html_safe, new_team_path(@teams), class: "btn btn-warning mt-4 rounded-pill add-league-btn" %>
  </div>
  <div class="cards mt-4 mx-4">
    <% @league.teams.each do |team| %>
      <% if team.photo.attached? %>
        <div class="card-category d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.3) 100%), url('<%= cl_image_path team.photo.key, crop: :fill %>')">
      <% else %>
        <div class="card-category d-flex flex-column" style='background-image: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.3) 100%), url(<%= image_url('team-background.jpg') %>)'>
      <% end %>
        <%= link_to team.name, team_path(team) %>
        <div class="element-delete">
          <%= link_to ('<i class="fas fa-trash"></i>').html_safe,
                      team_path(team),
                      method: :delete,
                      class: 'card-remove-link', 
                      data: { confirm: "Deleting #{team.name} will remove all players. Continue?"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
